/* =================================== */
/* ================= FONT FACES ================= */
/* =================================== */

@font-face {
    font-family: 'swis721_light';
    src: url('./fonts/swiss-721-light-webfont.woff2') format('woff2'),
         url('./fonts/swiss-721-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swis721_medium';
    src: url('./fonts/swiss-721-medium-bt-webfont.woff2') format('woff2'),
         url('./fonts/swiss-721-medium-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swis721_roman';
    src: url('./fonts/swiss-721-regular-webfont.woff2') format('woff2'),
         url('./fonts/swiss-721-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* =================================== */
/* ================= RESET ================= */
/* =================================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: Arial;
    color: #000;
}

a, button {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
}

/* ================= COMPOSITION ================= */

.conteneur {
    min-height: 100vh;
    padding: 6vw;
    box-sizing: border-box;
}

/* ================= TEXTE ================= */

* {
    font-family: 'swis721_light';
    font-weight: normal;
}

.conteneurTexte {
    width: 75vw;
    margin-left: 0;
    
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.conteneurTexte--centre {
    margin-left: 12.5vw;
}

/* ================= RÉGLAGES ================= */

.basculerPanneau {
    width: 3rem;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 25vw;
    transform: scaleX(1) translateX(0);

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1rem;
    font-weight: bold;

    background-color: #fff;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.chevron {
    width: 1.5rem;
    height: 1.5rem;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(-45deg);
}

.basculerPanneau--ouvert {
    transform: scaleX(-1);
    right: 26vw;
}

.conteneurReglages {
    position: fixed;
    top: 0;
    right: -25vw;
    width: 25vw;
    transform: translateX(0);
    border-left: 1px solid #000;

    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.conteneurReglages--ouvert {
    right: 0;
}

.conteneurReglages * {
    color: #000;
    display: flex;
    flex-direction: column;
}

.reglages {
    width: 10rem;
    height: 3rem;
    overflow: hidden;
    font-size: 1.5rem;
    border: 1px solid #000;
    padding: .5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contenuBtn {
    transform: translateY(0);

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.contenuBtn--action {
    transform: translateY(-3rem);
}

.contenuBtn:first-child {
    margin-bottom: 1rem;
}